{% extends "base.html" %}
{% block content %}

<div class="container-fluid p-lg-5">
    <div>
        <!-- Button to add new Portal. This opens modal (id "modalForm") with action "add" -->
        <button class="btn btn-success btn-block" title="Add Portal" id="addPortal" data-bs-toggle="modal" data-bs-target="#modalForm" data-action="add">
            <i class="fa fa-plus"></i> 
            Add Portal
        </button>
    </div>
    <br>

    <div class="row row-cols-auto" id="streamOut">
        <!-- Add Card for every portal in config data  -->
        {% if portals is not none %}
        {% for portal in portals %}
        <div class="col">
            <div class="card text-dark bg-light mb-3">
                <!-- Click on card to edit Portal. This opens modal (id "modalForm") with action "edit" and adds portal data -->
                <div class="card-header btn text-start stretched-link" data-id="{{ portal }}" data-bs-toggle="modal" data-bs-target="#modalForm" data-action="edit" 
                    data-enabled="{{ portals[portal].enabled }}" 
                    data-name="{{ portals[portal].name }}"
                    data-url="{{ portals[portal].url }}" 
                    data-proxy="{{ portals[portal].proxy }}"
                    data-macs="{{ portals[portal].macs|tojson|forceescape }}" 
                    data-time_zone="{{ portals[portal].time_zone }}"
                    data-streamsPerMac="{{ portals[portal]['streams per mac'] }}" 
                    data-epgTimeOffset="{{ portals[portal].epgTimeOffset }}" 
                >
                    <i class="me-2 fa fa-server" {{ "hidden" if portals[portal].enabled == 'false' }}></i>
                    <i class="me-2 fa fa-ban" {{ "hidden" if portals[portal].enabled == 'true' }}></i>
                    {{ portals[portal].name }}
                </div>
                <div class="card-body" style="font-size: 80%">
                    <table id="macTable" class="table table-sm mt-2">
                        <thead>
                            <tr>
                                <th>MAC Address</th>
                                <th>Expiry</th>
                                <th>Playtime</th>
                                <th>Error</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, value in portals[portal].macs.items() %}
                            <tr>
                                <td>{{ key }}</td>
                                <td id="data-expDate-{{ portals[portal].name }}-{{ loop.index }}"></td>
                                <td id="data-playtime-{{ portals[portal].name }}-{{ loop.index }}"></td>
                                <td id="data-error-rate-{{ portals[portal].name }}-{{ loop.index }}"></td>
                            </tr>

                            <script>
                                var dateVal = document.getElementById("data-expDate-{{ portals[portal].name }}-{{ loop.index }}");
                                var playtimeVal = document.getElementById("data-playtime-{{ portals[portal].name }}-{{ loop.index }}");
                                var errorRateVal = document.getElementById("data-error-rate-{{ portals[portal].name }}-{{ loop.index }}");

                                var expiryTimestamp = {{ value.expiry | tojson }};
                                if (expiryTimestamp !== null) {
                                    var now = Date.now();
                                    var expires = expiryTimestamp * 1000;
                                    var diff = expires - now;
                                    var daysAway = diff / (1000 * 3600 * 24);

                                    var dateFormat = { year: 'numeric', month: '2-digit', day: '2-digit' };
                                    var formattedDate = new Date(expires).toLocaleDateString(undefined, dateFormat);
                                    dateVal.innerHTML = formattedDate;

                                    if (now > expires) {
                                        dateVal.parentElement.classList.add("table-danger");
                                    } else if (daysAway < 30) {
                                        dateVal.parentElement.classList.add("table-warning");
                                    }
                                } else {
                                    dateVal.innerHTML = "N/A";
                                }

                                var playtime = {{ value.stats.playtime | tojson }};
                                if (playtime !== null) {
                                    var hours = Math.floor(playtime / 3600);
                                    var minutes = Math.floor((playtime % 3600) / 60);
                                    var seconds = Math.floor(playtime % 60);
                                    var formattedPlaytime = hours.toString().padStart(2, '0') + ':' + minutes.toString().padStart(2, '0') + ':' + seconds.toString().padStart(2, '0');
                                    playtimeVal.innerHTML = formattedPlaytime;
                                } else {
                                    playtimeVal.innerHTML = "N/A";
                                }

                                var errors = {{ value.stats.errors | tojson }};
                                var requests = {{ value.stats.requests | tojson }};
                                if (errors !== null && requests !== null && requests !== 0) {
                                    var errorRate = (errors / requests * 100).toFixed(0);
                                    errorRateVal.innerHTML = errorRate + "%";
                                } else {
                                    errorRateVal.innerHTML = "N/A";
                                }
                            </script>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

<!-- Unified Add/Edit Modal -->
<div class="modal fade text-dark" id="modalForm" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width: 600px; width: auto; min-width: 400px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Add/Edit Portal</h5>
                <div class="form-check form-switch ms-auto">
                    <input type="checkbox" form="portalForm" class="form-check-input" name="enabled"
                        id="modalEnabled" value="true" style="transform: scale(1.5);">
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="portalForm" action="/portal/add" method="post">
                    <input name="id" id="modalId" hidden>

                    <h6>Name:</h6>
                    <input type="text" name="name" id="modalName" class="form-control flex-fill" title="Name" required>
                    <span class="text-muted">Give this portal a name.</span>

                    <br><br>

                    <h6>URL:</h6>
                    <input type="text" name="url" id="modalUrl" class="form-control flex-fill" title="URL" required>
                    <span class="text-muted">It's best to enter the full address ending in .php if you know it.<br>If not, STB-Proxy will attempt to figure it out for you.</span>

                    <br><br>

                    <h6>Proxy:</h6>
                    <input type="text" name="proxy" id="modalProxy" class="form-control flex-fill" title="Proxy">
                    <span class="text-muted">STB-Proxy supports HTML proxies only.</span>

                    <br><br>

                    <h6>MAC Addresses:</h6>
                    <table class="table table-sm" id="macTable">
                        <thead>
                            <tr>
                                <th>MAC Address</th>
                                <th>Expiry</th>
                                <th>Playtime</th>
                                <th>Error Rate</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="macList">
                            <!-- MAC addresses will be loaded here -->
                        </tbody>
                    </table>
                    <textarea id="macInput" class="form-control" rows="3"
                        placeholder="Enter MAC addresses as text here..."></textarea>
                    <button type="button" class="btn btn-primary mt-2" id="parseMacBtn">Add MAC Addresses</button>

                    <!-- Hidden input to store MAC addresses -->
                    <input type="hidden" name="macs" id="macsHiddenData">

                    <br><br>

                    <h6>Streams Per MAC:</h6>
                    <input type="number" name="streams per mac" id="modalStreamsPerMac" class="form-control flex-fill"
                        title="Streams Per Mac" min="0" value="1" required>
                    <span class="text-muted">How many streams does each MAC allow. 0 = unlimited.</span>
                    
                    <br><br>

                    <h6>EPG Time Offset:</h6>
                    <input type="number" name="epg time offset" id="modalEpgTimeOffset" class="form-control flex-fill"
                        title="EPG Time Offset" min="-12" max="14" step="0.5" value="0" required>
                    <span class="text-muted">Time offset for XMLTV EPG (Reference UTC). Range: -12 to +14 in 0.5-hour steps.</span>

                    <br><br>

                    <h6>Timezone (TZ):</h6>
                    <input type="text" name="time_zone" id="modalTimeZone" class="form-control flex-fill" title="Timezone" value="Europe/London" required> 
                    <span class="text-muted">
                        Optional: <a href="https://en.wikipedia.org/wiki/List_of_tz_database_time_zones" target="_blank">TZ identifier</a> is used on some portals to validate origin 
                    </span>

                    <br><br>

                    <div class="modal-footer">
                        <button class="btn btn-danger" id="modalDelete" type="button">Delete</button>
                        <button class="btn btn-warning" id="modalRetestBtn" type="button">Retest</button>
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" id="modalSubmit" type="submit" onclick="updateMacData()">Save</button>
                    </div>

                    <!-- Error message for the modal -->
                    <div id="modalErrorMessage" class="alert alert-danger" style="display:none;"></div>

                    <!-- Success message for the modal (optional) -->
                    <div id="modalSuccessMessage" class="alert alert-success" style="display:none;"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    // Function to handle the opening of the modal for add/edit actions
    document.querySelectorAll('[data-bs-toggle="modal"]').forEach(button => {
        button.addEventListener('click', handleModal);
    });

    function handleModal(event) {
        var button = event.currentTarget;
        var action = button.getAttribute('data-action');
        var modal = document.getElementById('modalForm');
        var form = document.getElementById('portalForm');
        var submitButton = document.getElementById('modalSubmit');
        var deleteButton = document.getElementById('modalDelete');
        var retestButton = document.getElementById('modalRetestBtn');
        var title = document.getElementById('modalTitle');
    
        // Standard action for adding a new portal
        if (action === 'add') {
            form.action = "/portal/add";
            form.reset();
            title.textContent = "Add Portal";
            submitButton.textContent = "Add";
            deleteButton.style.display = 'none';
            retestButton.style.display = 'none';
    
            var macList = document.getElementById('macList');
            macList.innerHTML = '';

            // Submit button to add new Portal
            submitButton.onclick = function () {
                form.action = "/portal/add";

                // Gather form data and send the AJAX request to the server
                const formData = new FormData(form);

                fetch('/portal/add', {
                    method: 'POST',
                    body: formData
                })
                .then(response => {
                    if (!response.ok) {
                        // If response status is not OK, throw an error to catch with error message
                        return response.json().then(err => { throw new Error(err.error); });
                    }
                    return response.json();
                })
                .then(data => {
                    // Optionally, close the modal after success
                    var myModal = new bootstrap.Modal(document.getElementById('modalForm'));
                    myModal.hide();
                })
                .catch(error => {
                    console.error('Error adding portal:', error);
                    // Display error message to user
                    alert('Error: ' + error.message); // or display in a specific HTML element
                });
            };

        } else if (action === 'edit') {
            // Action for editing an existing portal
            form.action = "/portal/update";
            title.textContent = "Edit Portal";
            submitButton.textContent = "Update";
            deleteButton.style.display = 'block';
            retestButton.style.display = 'block';
    
            // Fill form with existing data
            var id = button.getAttribute('data-id');
            var name = button.getAttribute('data-name');
            var enabled = button.getAttribute('data-enabled');
            var url = button.getAttribute('data-url');
            var proxy = button.getAttribute('data-proxy');
            var macs = JSON.parse(button.getAttribute('data-macs'));
            var streamsPerMac = button.getAttribute('data-streamsPerMac');
            var epgTimeOffset = button.getAttribute('data-epgTimeOffset');
            var time_zone = button.getAttribute('data-time_zone');
    
            document.getElementById('modalId').value = id;
            document.getElementById('modalName').value = name;
            document.getElementById('modalEnabled').checked = (enabled === 'true');
            document.getElementById('modalUrl').value = url;
            document.getElementById('modalProxy').value = proxy;
            document.getElementById('modalStreamsPerMac').value = streamsPerMac;
            document.getElementById('modalEpgTimeOffset').value = epgTimeOffset;
            document.getElementById('modalTimeZone').value = time_zone;
    
            var macList = document.getElementById('macList');
            macList.innerHTML = '';
            Object.keys(macs).forEach((mac, index) => {
                var data = macs[mac];
                addMacRow(mac, data, index);
            });

            // Event listener for Delete button
            deleteButton.onclick = function () {
                form.action = "/portal/remove?id="+id;
                form.submit();
            };

            // Event listener for Retest button
            retestButton.onclick = function () {
                updateMacData()
                form.action = "/portal/update?id=" + id + "&retest=true";
                form.submit();
            };
        
            // Event listener for Update button (without retest)
            submitButton.onclick = function () {
                updateMacData()
                form.action = "/portal/update?id=" + id + "&retest=false";
                form.submit();
            };


        }
        var myModal = new bootstrap.Modal(modal, { backdrop: 'static' });
        myModal.show();
    }

    // Function to parse MAC addresses and test them with a server call
    document.getElementById('parseMacBtn').addEventListener('click', function () {
        var macInput = document.getElementById('macInput').value;
        var macPattern = /[0-9A-Fa-f]{2}([-:]?)([0-9A-Fa-f]{2}\1){4}[0-9A-Fa-f]{2}/g;
        var macMatches = macInput.match(macPattern);

        if (macMatches) {
            // Make AJAX request to test the new MAC addresses
            fetch('/portal/checkmacs', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    id: document.getElementById('modalId').value,
                    name: document.getElementById('modalName').value,
                    url: document.getElementById('modalUrl').value,
                    proxy: document.getElementById('modalProxy').value,
                    macs: macMatches
                })
            })
            .then(response => {
                if (!response.ok) {
                    // If response status is not OK, throw an error to catch with error message
                    return response.json().then(err => { throw new Error(err.error); });
                }
                return response.json();
            })
            .then(data => {
                // Update the MAC table with the response data without deleting existing rows
                data.validMacs.forEach((elem, index) => {
                    // Check if the MAC address is already in the table, if not, add it
                    if (!isMacInTable(elem.mac)) {
                        // Handle missing stats or expiry by setting default values
                        var expiry = elem.expiry || 0;
                        var stats = elem.stats || { playtime: 0, errors: 0, requests: 0 };

                        addMacRow(elem.mac, { expiry: expiry, stats: stats }, index);
                    }
                });
                document.getElementById('macInput').value = '';
                updateMacData();
            })
            .catch(error => {
                console.error('Error testing MAC addresses:', error);
                // Display error message to user
                alert('Error: ' + error.message); // or display in a specific HTML element
            });
        } else {
            alert('No valid MAC addresses found.');
        }
    });

    
    // Function to display the error message inside the modal
    function displayErrorMessage(message) {
        var errorElement = document.getElementById('modalErrorMessage');
        errorElement.textContent = message;
        errorElement.style.display = 'block';
    }

    // Function to display the success message inside the modal (if necessary)
    function displaySuccessMessage(message) {
        var successElement = document.getElementById('modalSuccessMessage');
        successElement.textContent = message;
        successElement.style.display = 'block';
    }

    // Function to prepare the MAC addresses data before form submission
    function updateMacData() {
        const macList = document.getElementById('macList');
        const macs = Array.from(macList.querySelectorAll('tr')).map(row => row.querySelector('td').textContent.trim());
        document.getElementById('macsHiddenData').value = JSON.stringify(macs);
    }

    // Function to check if a MAC address is already in the table
    function isMacInTable(mac) {
        var macList = document.getElementById('macList');
        var rows = macList.getElementsByTagName('tr');
        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
            var macCell = row.getElementsByTagName('td')[0]; // MAC address is in the first column
            if (macCell && macCell.textContent === mac) {
                return true; // MAC address already exists
            }
        }
        return false; // MAC address not found in the table
    }
    
    // Function to add a row in the MAC table
    function addMacRow(mac, data, index) {
        var macList = document.getElementById('macList');
        
        var row = document.createElement('tr');
    
        var macCell = document.createElement('td');
        macCell.textContent = mac;
        row.appendChild(macCell);
    
        var expiryCell = document.createElement('td');
        expiryCell.textContent = formatExpiry(data.expiry);
        row.appendChild(expiryCell);
    
        var playtimeCell = document.createElement('td');
        playtimeCell.textContent = formatPlaytime(data.stats.playtime);
        row.appendChild(playtimeCell);
    
        var errorCell = document.createElement('td');
        errorCell.textContent = formatErrorRate(data.stats.errors, data.stats.requests);
        row.appendChild(errorCell);

        // ACTION ELEMENTS
        var actionCell = document.createElement('td');

        // Move MAC up
        var upButton = document.createElement('button');
        upButton.className = 'btn btn-sm btn-light p-0 me-1';
        upButton.innerHTML = '<i class="bx bx-chevron-up"></i>';
        upButton.type = 'button';
        upButton.disabled = !row.previousElementSibling;
        upButton.addEventListener('click', (e) => {
            e.preventDefault();
            if (row.previousElementSibling) {
                macList.insertBefore(row, row.previousElementSibling);
                updateButtonStates(macList);
                updateMacData();
            }
        });

        // Move MAC down
        var downButton = document.createElement('button');
        downButton.className = 'btn btn-sm btn-light p-0 me-1';
        downButton.innerHTML = '<i class="bx bx-chevron-down"></i>';
        downButton.type = 'button';
        downButton.disabled = !row.nextElementSibling;
        downButton.addEventListener('click', (e) => {
            e.preventDefault();
            if (row.nextElementSibling) {
                macList.insertBefore(row.nextElementSibling, row);
                updateButtonStates(macList);
                updateMacData();
            }
        });

        // Delete MAC
        var deleteButton = document.createElement('button');
        deleteButton.className = 'btn btn-sm btn-light p-0 me-1';
        deleteButton.innerHTML = '<i class="bx bx-x bx-tada-hover" style="color:red;"></i>';
        deleteButton.type = 'button';
        deleteButton.addEventListener('click', (e) => {
            e.preventDefault();
            row.remove();
            updateButtonStates(macList);
            updateMacData();
        });
    
        actionCell.appendChild(upButton);
        actionCell.appendChild(downButton);
        actionCell.appendChild(deleteButton);
    
        row.appendChild(actionCell);
    
        macList.appendChild(row);
        updateButtonStates(macList);
    }
   
    function updateButtonStates(macList) {
        Array.from(macList.rows).forEach((row, index) => {
            var upButton = row.querySelector('.bx-chevron-up').parentElement;
            var downButton = row.querySelector('.bx-chevron-down').parentElement;
            upButton.disabled = index === 0;
            downButton.disabled = index === macList.rows.length - 1;
        });
    }

    // Helper function to format exp
    function formatExpiry(expiryTimestamp) {
        if (expiryTimestamp !== null) {
            var now = Date.now();
            var expires = expiryTimestamp * 1000;
            var dateFormat = { year: 'numeric', month: '2-digit', day: '2-digit' };
            return new Date(expires).toLocaleDateString(undefined, dateFormat);
        }
        return "N/A";
    }

    // Helper function to format playtime
    function formatPlaytime(playtime) {
        if (playtime !== null) {
            var hours = Math.floor(playtime / 3600);
            var minutes = Math.floor((playtime % 3600) / 60);
            var seconds = Math.floor(playtime % 60);
            return `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
        }
        return "N/A";
    }

    // Helper function to format error rate
    function formatErrorRate(errors, requests) {
        if (errors !== null && requests !== null && requests !== 0) {
            return `${(errors / requests * 100).toFixed(0)}%`;
        }
        return "N/A";
    }
    
    // Ensure the main content is not inactive when modal closes
    document.querySelectorAll('.btn-close, [data-bs-dismiss="modal"]').forEach(btn => {
        btn.addEventListener('click', function () {
            var myModalEl = document.getElementById('modalForm');
            var modal = bootstrap.Modal.getInstance(myModalEl);
            if (modal) {
                modal.hide();
            }
        });
    });
</script>

{% endblock %}
